#HomeView {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100vh;
    width: 100vw;
    margin-bottom: 10vh;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

#title {
    position: absolute;
    top: 35%;
    left: 7.5%;
    float: left;
    z-index: 1;
    color: #2c2c2cd5;
    font-size: 45px;
    font-family: sans-serif;
    line-height: normal;
}

.gradient {
    top: 25%;
    position: absolute;
    left: 57%;
    z-index: 3;
    --size: 250px;
    --speed: 10s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(var(--primaryOther), var(--primary));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media screen and (min-width: 1001px) {
    .gradient {
        --size: 500px;
    }
}

#IDE {
    top: 20%;
    position: absolute;
    left: 50%;
    z-index: 3;
    box-shadow: rgba(255,255,255,0.1) 5px 5px 5px -1px,
        rgba(0, 0, 0, 0.3) 5px 5px 5px -5px;
    border-radius: 15px;
}

#IDEmenu {
    width: 45vw;
    height: 2vh;
    background: rgba(255, 255, 255, 0.4);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#IDEmenu::after,
#IDEbody::before,
#IDEmenu::before {
    content: "\25C9";
    padding: 5px;
    color: #696969a3;
    left: 3.3vw;
    position: absolute;
}

#IDEmenu::before {
    left: 2vw;
}

#IDEbody::before {
    left: 0.7vw;
    top: -0.01vh;
}

#IDEbody {
    width: 45vw;
    height: 60vh;
    background: rgba(255, 255, 255, 0.3);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#IDEtype {
    margin-left: 10px;
    padding-top: 5px;
}

#codeContainer {
 overflow: hidden;
}

@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

#code {
    color: var(--primary);
    font-weight: lighter;
    font-size: medium;
    opacity: 0.5;
    font-family: 'Cascadia Code', sans-serif;
}

@media screen and (max-width: 1000px) {
    .gradient {
        visibility: hidden;
    }

    #code {
        visibility: hidden;
    }
}

.bConnect {
    margin: 0;
    border-radius: 15px;
    float: right;

}